.logo-container {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.logo {
  background: var(--logo) no-repeat center/cover;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

.logo-container span {
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem;
  transition: all 0.1s ease-in-out;
}

.logo-container span:hover {
  background: var(--bg-hover);
}
