.welcome {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 12rem);
  margin-top: 8rem;
  position: relative;
}

.welcome-message {
  text-align: center;
}

.welcome-message h1 {
  font-size: 3rem;
}

.welcome-message p {
  color: var(--gray);
  font-size: 1.25rem;
}

.welcome-link {
  color: var(--gray);
  transition: all 0.1s ease-in-out;
}

.welcome-link:hover {
  color: var(--blue);
}

@media (max-width: 480px) {
  .welcome {
    margin-top: 2rem;
    height: calc(100vh - 6rem);
  }
}
